:root {
  --primary-color: hsl(30, 54%, 90%);
  --alt-primary-color: hsl(332, 51%, 32%);
  --secondary-bg-color: hsl(0, 0%, 0%);
  --primary-heading-color: hsl(24, 5%, 18%);
  --secondary-heading-color: hsl(14, 45%, 36%);
  --font-size: 16px;
  --text-color: hsl(24, 5%, 18%);
}

ul {
  list-style-position: inside;
}

ol {
  list-style-position: outside;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p {
  font-size: var(--font-size);
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  font-style: bold;
  color: var(--secondary-heading-color);
  text-wrap: pretty;
}
ul li::marker {
  font-size: calc(var(--font-size) - 5px);
  color: var(--secondary-heading-color);
  vertical-align: center;
}

ol li::marker {
  color: var(--secondary-heading-color);
  font-weight: bold;
}

li > span {
  vertical-align: middle;
  margin-left: 16px;
}

strong {
  font-weight: bold;
  color: var(--text-color);
}

li {
  padding: 5px 10px;
}

.main-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 52%;
  padding: 43px;
  border-radius: 15px;
  margin: 125px -10px 0 0;
  gap: 31px;
  min-width: 350px;
}
.main-container > img {
  border-radius: 10px;
}
.main-container > h1 {
  font-size: 40px;
  color: var(--primary-heading-color);
}

.main-container > div > h2 {
  font-size: 28px;
  padding-bottom: 10px;
}
.main-container > div > ul {
  margin: 5px;
}
.main-container > div > ol {
  margin-left: 15px;
}

.recipe-time {
  background: hsla(332, 51%, 32%, 0.05);
  padding: 8px;
  margin: 7px;
  font-size: calc(var(--font-size) - 1px);
  border-radius: 5px;
  min-width: 145px;
}
.recipe-time p {
  color: var(--alt-primary-color);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: calc(var(--font-size) + 4px);
}

.recipe-time > div {
  padding: 10px;
}

.recipe-time li::marker {
  color: var(--alt-primary-color);
  font-size: calc(var(--font-size) - 5px);
}

.main-container > .ingredients > ul {
  margin-left: 0px;
}
.main-container > .instructions > ol {
  margin-left: 25px;
  line-height: 1.4;
}

table {
  margin-top: 5px;
  border: 1px black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.135);
}
table tr {
  border-bottom: 2px solid rgba(128, 128, 128, 0.135);
}

table tr td:first-child span {
  text-wrap: wrap;
  margin-left: 20px;
}
table tr:nth-last-child(1) {
  border-bottom: none;
}
table td {
  line-height: 1.49;
  padding: 12px 8px;
}
table tr td:nth-child(2) strong {
  color: var(--secondary-heading-color);
}

.attribution {
  display: none;
}

@media (max-width: 900px) {
  .main-container > h1 {
    font-size: 30px;
  }
}

@media (max-width: 385px) {
  body {
    overflow-x: hidden;
  }
  .main-container {
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }
  .main-container > img {
    border-radius: 0px;
    margin: -45px -45px 0px -45px;
  }

  .main-container > h1 {
    font-size: 35px;
  }
}
